@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

body {
  margin: 1em;
  padding: 0;
  font-family: "Source Sans Pro";
  background-color: #eee;
}

h1 {
  font-weight: bolder;
  text-align: center;
  font-family: "Abril Fatface";
}

.newspaper-container {
  background-color: white;
  max-width: 700px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 5px 10px #ddd;
  padding: 20px;
}

nav {
  position: sticky;
  top: 0;
  text-align: center;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

nav ul {
  padding: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 3px;
  font-size: 15px;
}

a {
  color: #777;
  text-decoration: none;
}

h2 {
  font-family: "Roboto Slab";
}

h4 {
  font-family: "Roboto Slab";
}

h5 {
  color: #dd3232;
}

#main-content {
  text-align: center;
}

#main-content img {
  width: 100%;
}

#main-content p {
  width: 100%;
  text-align: justify;
}

.more-articles {
  display: inline-block;
  border-top: 2px solid #eee;
}

.more-articles section {
  display: inline-block;
  margin: auto;
  width: 49%;
  text-align: center;
}
